{% extends 'shared/_MainLayout.html' %}
{% load crispy_forms_filters %}

{% block header_ref %}
    <title>ویرایش حواله ورود {{ input.title }} | {{ settings.title }}</title>
{% endblock %}

{% block content %}
    <!--**********************************
                Content body start
            ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <div class="page-titles">
                <h4>ویرایش حواله ورود {{ input.title }}</h4>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="basic-form">
                                <form method="post">{% csrf_token %}
                                    {{ form|crispy }}
                                    <div class="form-group row">
                                        <div class="col-sm-1">
                                            <button type="submit" class="btn btn-success">ویرایش</button>
                                        </div>
                                        <div class="col-sm-11">
                                            {% url 'inputs' as url %}
                                            {% include 'components/back-button.html' with url=url %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
