{% extends 'shared/_MainLayout.html' %}
{% load jalali_tags %}

{% block header_ref %}
    <title>حواله های ورود | {{ settings.title }}</title>
{% endblock %}

{% block content %}
    <!--**********************************
                Content body start
            ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <div class="page-titles">
                <h4>حواله های ورود</h4>
            </div>
            {{ block.super }}
            <!-- row -->
            <div class="row">
                {% if inputs|length > 0 %}
                    <div class="col-xl-12 mb-4">
                        <a href="{% url 'inputs-create' %}" class="btn btn-block btn-success"><span
                                class="btn-icon-left text-success"><i
                                class="fa fa-plus"></i>
                        </span>افزودن حواله ورود جدید</a>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    {% url 'inputs' as url %}
                                    {% include 'components/search-box.html' with url=url title='حواله های ورود' %}
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                        <tr>
                                            <th class="width80"><strong>ردیف</strong></th>
                                            <th><strong>عنوان</strong></th>
                                            <th><strong>تاریخ</strong></th>
                                            <th><strong>تعداد محصول</strong></th>
                                            <th><strong>انبار</strong></th>
                                            <th><strong>عملیات</strong></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for input in inputs %}
                                            <tr>
                                                <td><strong>{{ forloop.counter }}</strong></td>
                                                <td><strong class="text-black">{{ input.title }}</strong></td>
                                                <td>
                                                    <strong class="text-black">{{ input.timestamp|to_jalali }}</strong>
                                                </td>
                                                <td>
                                                    <strong class="text-black">{{ input.inputdetail_set.all|length }}</strong>
                                                </td>
                                                <td>
                                                    <strong class="text-black">{{ input.store_id }}</strong>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="{% url 'inputs-detail' pk=input.id %}?path={% url 'inputs' %}"
                                                           class="btn btn-success light sharp">جزئیات</a>
                                                        <a href="{% url 'inputs-bill' pk=input.id %}" target="_blank"
                                                           class="btn btn-success light sharp">برگ حواله</a>
                                                        <button type="button" class="btn btn-success light sharp"
                                                                data-toggle="dropdown">
                                                            <svg width="20px" height="20px" viewBox="0 0 24 24"
                                                                 version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none"
                                                                   fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                                    <circle fill="#000000" cx="5" cy="12"
                                                                            r="2"></circle>
                                                                    <circle fill="#000000" cx="12" cy="12"
                                                                            r="2"></circle>
                                                                    <circle fill="#000000" cx="19" cy="12"
                                                                            r="2"></circle>
                                                                </g>
                                                            </svg>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item"
                                                               href="{% url 'inputs-update' pk=input.id %}?path={% url 'inputs' %}">ویرایش</a>
                                                            <a class="dropdown-item"
                                                               href="{% url 'inputs-delete' pk=input.id %}?path={% url 'inputs' %}">حذف</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif request.GET.sk %}
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="input-group search-area d-lg-inline-flex d-none">
                                        <form action="{% url 'inputs' %}" method="get">
                                            <div class="input-group-append">
                                                <button class="input-group-text"><i class="flaticon-381-search-2"></i>
                                                </button>
                                                <input required type="text" value="{{ request.GET.sk }}" name="sk"
                                                       class="form-control"
                                                       placeholder="جستجو در حواله های ورود ...">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <div class="alert alert-warning">
                                        <span>هیچ نتیجه ای برای جستجو شما یافت نشد.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <a href="{% url 'inputs' %}" class="btn btn-danger pull-left"><span
                                    class="btn-icon-left text-danger"><i
                                    class="fa fa-arrow-left"></i>
                            </span>بازگشت به همه حواله های ورود</a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-xl-12 mb-4">
                        <a href="{% url 'inputs-create' %}" class="btn btn-block btn-success"><span
                                class="btn-icon-left text-success"><i
                                class="fa fa-plus"></i>
                        </span>افزودن حواله ورود جدید</a>
                    </div>
                    <div class="col-lg-12">
                        <div class="alert alert-warning">
                            <span>هیچ موردی برای نمایش وجود ندارد.</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
