{% load static %}
<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>400 | {{ settings.title }}</title>
    <!-- Favicon icon -->
    {% include 'shared/_HeaderReferences.html' %}
</head>
<body class="h-100">
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-5">
                <div class="form-input-content text-center error-page">
                    <h1 class="error-text font-weight-bold">400</h1>
                    <h4><i class="fa fa-thumbs-down text-danger"></i> درخواست بد </h4>
                    <p>درخواست شما به خطا منجر شد.</p>
                    <div>
                        <a class="btn btn-primary" href="{% url 'panel' %}">برگشت به خانه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% include 'shared/_FooterReferences.html' %}
</html>