{% load static %}

{% if settings.fav_icon %}
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.fav_icon.url }}">
{% endif %}
<link href="{% static 'vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'vendor/chartist/css/chartist.min.css' %}">
<!-- Vectormap -->
<link href="{% static 'vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'vendor/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
<!-- Common CSS -->
<link rel="stylesheet" href="{% static 'ExtraCSS/common.css' %}">
